<% if User.is_logged_in?(session) %>
  <h1>Welcome, <%= User.current_user(session).username %></h1>
  <h3>All tweets: </h3>
  <% @tweets.each do |tweet| %>
    <li><%= tweet.content %>
    <a style= button, href="/tweets/<%= tweet.id %>/edit">Edit Tweet</a>
      <form method="post" action="/tweets/<%= tweet.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Tweet">
      </form>
    </li>
  <%end%>
<%else%>
  <%=redirect to '/'%>
<%end%>

<h3><a href="/tweets/new">New Tweet</a></h3>
<br>
<h4><a href="/logout">Log Out</a></h4>
